{% extends 'layout.html' %}

{% block container %}
    <h1>Listagem de Posts</h1>
    {% for post in posts %}
    <div class="card text-center mb-2">
        <div class="card-header">
            {{post.title}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{post.subtitle}}</h5>
            <p class="card-text">{{post.content}}</p>
            <a href="{% url 'posts.show' post.id %}" class="btn btn-primary">Ver Post</a>
        </div>
        <div class="card-footer text-muted">
            2 days ago
        </div>
    </div>
    {% endfor %}
{% endblock %}